.times-address, .phone-map {
  display: flex;
  flex-direction: row;
  margin-top: 4em;
  justify-content: space-around;
}

.booking .times, .booking .address, .booking .phone {
  display: flex;
  flex-direction: column;
}

.booking .title {
  font-size: 3em;
  color: #02022b;
  margin-bottom: 0.4em;
}

.booking span {
  font-size: 1.8em;
  margin-bottom: 0.3em;
}

@media screen and (min-width: 640px) {
  .booking span {
    font-size: 2em;
  }
}
