.times-address, .phone-map {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.booking .times, .booking .address, .booking .phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking .title {
  font-size: 3em;
  color: #02022b;
  margin-bottom: 0.4em;
}

.booking span {
  font-family: "Economica",Arial,Helvetica,sans-serif;
  font-size: 1.5em;
  margin-bottom: 0.3em;
}

@media screen and (min-width: 640px) {
  .times-address {
    margin-top: 2.8em;
  }
  .booking span {
    font-size: 1.6em;
  }
  .times-address, .phone-map {
    flex-direction: row;
  }
}

/* hack for reversed phone */
.phone {
  padding-bottom: 4em;
}
