.footer {
  font-family: "Economica",Arial,Helvetica,sans-serif;
  display: flex;
  color: white;
  background-color: #02022b;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  font-size: 1.2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

@media screen and (max-width: 640px) {
  .address {
    display: none
  }
}

.social {
  display: flex;
  justify-content: space-between;
  width: 70px;
}

.fb-icon {
  height: 30px;
  width: 30px;
}

.insta-icon {
  height: 30px;
  width: 30px;
}
