.gallery {
  display: flex;
  margin-bottom: 6em;
  align-items: center;
  flex-direction: column;
  font-family: "Economica",Arial,Helvetica,sans-serif;
}

.gallery > .title {
  font-size: 3em;
  font-family: "Tangerine",Arial, Helvetica, sans-serif;
  margin-bottom: .3em;
  color: #02022b;
  margin-top: .3em;
}

.gallery-container {
  display: flex;
  flex-direction: column;
}

.gallery-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery_pic {
  margin-top: .5em;
  margin-bottom: .5em;
  height: auto;
  max-width: 550px;
  max-height: 275px;
}

@media screen and (min-width: 900px) {
  .gallery-row {
    flex-direction: row;
  }
}
