.menus .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (min-width: 900px) {
  .menus .menu:nth-child(odd) {
    flex-direction: row;
  }
  .menus .menu:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.menu .title {
  font-size: 3.5em;
  margin-top: .4em;
  margin-bottom: .4em;
}

.menu .condition {
  font-family: "Economica",Arial,Helvetica,sans-serif;
  font-style: italic;
  font-size: 1.5em;
  margin-top: -.8em;
  margin-bottom: .6em;
}

.menu .menu-element {
  font-family: "Economica",Arial,Helvetica,sans-serif;
  font-size: 2em;
  margin-top: .2em;
  margin-bottom: .3em;
}

@media screen and (min-width: 900px) {
  .menu .title {
    font-size: 3em;
  }
  .menu .condition {
    font-size: 1.2em;
  }
  .menu .menu-element {
    font-size: 1.7em;
  }
}
