.navigation-menu {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 1em;
  right: 2em;
  z-index: 1;
}

.nav-link {
  margin: 0 0.5em 0 0.5em;
}
@media screen and (min-width: 640px) {
  .nav-link {
    margin: 0 1em 0 1em;
  }
}

.nav-link > a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
