.navigation-menu {
  display: flex;
  font-family: "Economica",Arial,Helvetica,sans-serif;
  justify-content: flex-end;
  position: absolute;
  top: 1em;
  right: 0.5em;
  z-index: 1;
}
@media screen and (min-width: 640px) {
  .navigation-menu {
    right: 2em;
  }
}

.nav-link {
  margin: 0 0.5em 0 0.5em;
}

.nav-link > a {
  text-decoration: none;
  font-size: 1.4em;
}

@media screen and (min-width: 640px) {
  .nav-link {
    margin: 0 1em 0 1em;
  }
}

@media screen and (max-width: 640px) {
  .nav-link.home {
    display: none;
  }
}
