@import url("rsc/style/booking.css");
@import url("rsc/style/footer.css");
@import url("rsc/style/home.css");
@import url("rsc/style/menus.css");
@import url("rsc/style/voucher.css");
@import url("rsc/style/gallery.css");
@import url("rsc/style/menu-item.css");
@import url("rsc/style/navigation-menu.css");

@font-face {
  font-family: 'Tangerine';
  src: local('Tangerine-Regular'), url(./rsc/Tangerine-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'TangerineBold';
  src: local('Tangerine-Bold'), url(./rsc/Tangerine-Bold.ttf) format('truetype');
}

body .App {
  font-family: "Tangerine",Arial, Helvetica, sans-serif
}
